<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    <content>
        <div class="container main">
            <div class="row center-flex">
                <div class="col-3 p-0 control-panel">
                    <div class="row-2">
                        <div class="col">
                            <a href="https://localhost:44336" class="main-button @ViewBag.BookButton">
                                <div class="main-button-data">
                                    Книги
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://localhost:44336/Home/ListUser" class="main-button @ViewBag.UserButton">
                                <div class="main-button-data">
                                    Пользователи
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-5 view">
                    @RenderBody()
                </div>
            </div>
        </div>
    </content>
    <footer>
        <script src="~/js/testSite.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="~/js/bundles.min.js"></script>
    </footer>
</body>
</html>