<header>
    <div class="container">
        <div class="row center-flex">
            <div class="col-auto">
                <h1>Библиотека</h1>
            </div>
        </div>
    </div>
</header>