<form action="#">
    <div class="row-2">
        <div class="col center-flex">Добавить произведение</div>
        <div class="col my-2">Название</div>
        <div class="col">
            <input type="text" class="w-100" placeholder="Введите название книги">
        </div>
        <div class="col my-2">Описание</div>
        <div class="col">
            <textarea rows="5" class="w-100" placeholder="Введите описание книги"></textarea>
        </div>
        <div class="col my-2">
            <div class="row buttons-row">
                <div class="col-auto">
                    <button type="submit" class="submit-button">
                        Добавить книгу
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>