@{
    ViewData["Title"] = "Home Page";
}

<form action="#" method="post">
    <div class="row-2">
        <div class="col db-container">
            <ul>
                <li>
                    <a href="#" class="db-item">
                        <div class="col db-item-data">
                            data
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="db-item">
                        <div class="col db-item-data">
                            data
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="db-item">
                        <div class="col db-item-data">
                            data
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="row buttons-row">
                <div class="col-auto">
                    <button type="submit" class="submit-button">
                        Добавить книгу
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
