<form action="#" method="post">
    <div class="row-2">
        <div class="col db-container">
            <ul>
                @{ 
                    foreach (var user in Model.allUsers) { 
                        <li>
                            <a href="https://localhost:44336/Home/UserEdit/@user.id" class="db-item" book-id="@user.id">
                                <div class="col db-item-data">
                                    <span>@user.id  @user.userName</span>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col">
            <div class="row buttons-row">
                <div class="col-auto">
                    <button type="submit" class="submit-button">
                        Добавить книгу
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
