<form action="#">
    <div class="row-2">
        <div class="col center-flex">Добавить пользователя</div>
        <div class="col my-2">Имя пользователя</div>
        <div class="col">
            <input type="text" class="w-100" placeholder="Введите имя пользователя">
        </div>
        <div class="col my-2">
            <div class="row buttons-row">
                <div class="col-auto">
                    <button type="submit" class="submit-button">
                        Добавить пользователя
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>